.border1 {
  margin: 20px;
  padding: 50px;
  width: 200px;
  box-shadow: 0 0 0 3px red, 0 0 0 6px blue, 3px 0 0 6px orange;
}

.border2 {
  margin: 20px;
  width: 200px;
  padding: 50px;
  border: 5px solid;
  border-radius: 10px 20px;
  border-color: #00ced1;
}

.border3 {
  margin: 20px;
  padding: 50px;
  width: 200px;
  border-style: solid;
  border-image: repeating-linear-gradient(
      -30deg,
      #00bfff,
      #7b68ee 10px,
      transparent 20px,
      transparent 15px,
      #9400d3 10px,
      #8b008b 30px,
      transparent 30px,
      transparent 10px
    )
    30 / 15px;
}
