.heading {
  margin: 5px;
  width: 50%;
}

.wrapper {
  width: 50%;
  height: 50px;
  background-color: #fa8072;
  margin: 5px;
}

.img {
  margin: 5px;
}

.link {
  margin: 20px;
}
.table table {
  border: 1px solid grey;
  table-layout: fixed;
  border-collapse: collapse;
  width: 50%;
}
.table {
  margin: 10px;
}

th {
  padding: 10px;
  border: 1px solid grey;
}
td {
  padding: 20px;
  border: 1px solid grey;
}

.text {
  margin: 10px;
}

.paragraph {
  margin: 10px;
  width: 50%;
}
