body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0067a3;
}

.app_logo {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_element {
  width: 294px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.menu {
  width: 35px;
  height: 30px;
  background: url(images/menu.svg) no-repeat;
  border: none;
  cursor: pointer;
}

.name {
  width: 331px;
  height: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 28px;
}

.create_list {
  width: 181px;
  height: 33px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
}

.plus {
  width: 25px;
  height: 25px;
  border-radius: 52px;
  background: url(images/add.svg) no-repeat;
  cursor: pointer;
}

.list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.user_menu {
  width: 52px;
  height: 38.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background: white url(images/user.svg) no-repeat;
  border: 1px solid black;
}

.button_user_menu {
  width: 12px;
  height: 11px;
  border: none;
  background: url(images/Vector.svg) no-repeat;
}

.user_menu, .button_user_menu {
  cursor: pointer;
}

article {
  height: calc(100vh - 110px);
  width: 100%;
  background: #2488c2;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0067a3;
  height: 55px;
  width: 100%;
}

.text {
  width: 333px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 67px;
}

.text_board {
  width: 279px;
  height: 21px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
